.topnav {
    background-color: #AC3B61;
    overflow: hidden;
    border-color: rgb(169, 27, 98);
    border-style: groove;
    border-width: 5px 5px 5px 5px;
    border-radius: 5px;
 
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #e0b2d2d4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #123C69;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #dac3b9;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
  }

  .topnav #login_button{
    float: right; cursor: pointer;
    border-radius: 10px;
    color: black;
  }
  .topnav #logout_button{
    float: right; cursor: pointer;
    border-radius: 10px;
    color: black;
  }